body{
    background-image: url("https://media.discordapp.net/attachments/1134641929456463913/1151582790249357342/1694629118995.jpg");
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 125vh;
  }
  #titulo{
    font: normal 30pt Fantasy;
    position: absolute;
    top: -25%;
    left: 5%;
  }
  header{
    background: #fcfcfc;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    height: 9%;
    width: 100%;
    position: fixed;
    top: 0%;
    margin: 50;
  }
  #botao_produtos{
    color: white;
    background: #959595;
    font: normal 15pt Arial;
    height: 50px;
    width: 200px;
    text-align: center;
    line-height: 50px;
    border-radius: 50px;
    box-shadow: 10px 10px 10px black;
    position: absolute;
    top: 45%;
  }
  #one{
    text-align: center;
    font-size: 40px;
    
  }
  #about{
    background: #454545;
    color: white;
    font-size: 20px;
    margin: 20px;
    position: absolute;
    top: 100%;
    padding: 15px;
    text-align: center;
  }
  @media (min-width: 800px) {
    #titulo{
    font: normal 50pt Fantasy;
    position: absolute;
    top: -10%;
    left: 5%;
    }
  }